body {
    font-family: 'Roboto Slab', serif;
    overflow: hidden;
}


h3 {
    font-family: 'Pretendard-Thin';
    color: #ffffff;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    margin-top: 30px;
    font-size: 15px;
}

/* 상단바 */

.menu * {
    display: inline;
}

.menu li {
    margin: 35px;
}

.menu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu ul {
    padding-left: 0px;
}

.menu {
    font-size: 20px;
    font-style: italic;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80;
} 

/* index */
.one {
    background-size: cover;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 130px;
}

.profile {
    border-radius: 30%;
    display: inline-block;
    padding: 0.5rem;
    margin-top: 20px;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.5);
}

.profile img {
    border-radius: 30%;
}

/* about */

.two {
    background-size: cover;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 130px;
}

.two .intext {
    float: right;
    text-align: left;
    padding-top: 25px;
    padding-right: 350px;
    margin: 30px;
}

/* interests */

.three {
    text-align: center; /* 이미지를 가운데 정렬 */
    padding-top: 150px;
}
.intext {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* 이미지가 창 너비를 넘어가면 줄바꿈 */
}
.intext div {
    flex: 0 0 calc(50% - 20px); /* 이미지 컨테이너의 너비 설정 */
    margin: 5px; /* 이미지 간격 조정 */
    text-align: center; /* 이미지 설명 가운데 정렬 */
}
.intext img {
    margin: 10px; /* 이미지 간격 조정 */
}

/* current_activity */

.four {
    text-align: center;
    align-items: center;
}

.four .intext{
    font-size:medium; /* p 태그의 글자 크기 설정 */
}

/* contact */

.five .intext {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

a{
    color : #000;
    text-decoration: none;
}